body{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.icon{
width:3.125rem;
}
.header-items{
    list-style-type: none;
    background-color: #FFF0ED;
    margin:0;
    }
    
.coffee-beans{
    vertical-align:sub;
}

    .header-items__list{
    
        list-style-type: none;
        display: inline-block;
        margin: 15px 0;
        padding: 5px 10px;
        font-size: 1.25rem;
        padding-left: 1.25rem;

    
    }
    
    .header-items .header-items__list a{
        text-decoration: none;
        color:#393939;
        font-size: 1.3125rem;
        font-weight: 400;
    }
    
    .header-items li .nav__list--shopnow{
        color:#5BACC3;
    }
    
    .nitro{
        font-size: 3.125rem;
        font-weight: 300;
        color:#393939;
        margin:0;
        /* padding-left: 1.25rem; */
    }


.header,.coffee-description{
    background-color:  #FFF0ED ;
    margin:0; 
}

.text{
    font-size: 3.75rem;
    font-weight: lighter;
    color:#393939;
    margin:0;
    padding-top:15.625rem;
    padding-left:15.625rem;
}

.coffee-description__text{
    font-size:1.125rem;
    font-weight:400;
    color:#393939;
    padding-left:15.625rem;
    text-wrap:inherit;

}

aside,.coffee-description_coffeebag--image{
    margin-left:65rem;
    height:100%;
    margin-top:0;
    padding-top:0;
    
}

.coffee-description__shop-now{
    background-color: #5BACC3;
    color:white;
    font-size: 1.3125rem;
    font-weight: 400;
    border:none;
    text-decoration: none;
    width:11.25rem;
    padding: 1.25rem 0 1.25rem 0;
    margin-left:15.625rem;
    /* vertical-align: text-top; */
}

.view-all{
    background-color: #5BACC3;
    color:white;
    font-size: 1.3125rem;
    font-weight: 400;
    border:none;
    text-decoration: none;
    padding:1.25rem;
    vertical-align: bottom;
    margin-top:50rem;
}

.productCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:4rem;
    margin:0;
    background-color: #F7F7F7 ;
    margin-bottom:10rem;

}

.text__product{
    font-size: 3.75rem;
    font-weight: lighter;
    color:#393939;
    margin:0;
    padding-top:15.625rem;
    padding-left:15.625rem;
    background-color: #F7F7F7;
    text-align: center;
    padding-top: 5rem;
    
}

.productCard__cardDetails{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 .3125rem .5625rem -0.0625rem rgba(0,0,0,0.25);
    overflow: hidden;
    width: 300px;
}

.productCard__image{
    height:17.5rem;
    padding-left:4.0625rem;
    padding-top:2.0625rem;
}

.productCard__name{
    font-size:2.0625rem;
    font-weight:lighter;
    color:#393939;
    text-align: center;
}

.productCard__price{
    font-size:2.0625rem;
    font-weight:400;
    color:#5BACC3;
    text-align: center;
}
.Discounts{
    background-color: #393939;
    text-align: center;
    color: white;
    font-size: 2.8125rem;
    font-weight: 400;
    width:max-content;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    margin-top: 1.25rem;
    margin-left:15rem;
    margin-bottom:16.25rem;
    padding-top:1.25rem;
    padding-bottom:1.25rem;

}

.Discounts .bold{
    font-size:2.8125rem;
    font-weight: 700;
}

.details{
    display:flex;
    justify-content: space-between;
    gap:1.25rem;
    background-color: #FFF0ED;
    padding-top:5rem;
    padding-left:15rem;
    padding-right: 20rem;
}

.addHoursSocial{
    font-size:2.0625rem;
    font-weight:lighter;
    color:#393939;
}

.address{
    font-size:1.125rem;
    font-weight:400;
    color:#393939;
    color:#393939;
}

.hours{
    font-weight: bold;
    color:#393939;
}
