body {
  font-family: "Open Sans";
  font-weight: 400;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-nav {
  background-color: #FFF0ED;
  display: flex;
  justify-content: space-between;
  padding-left: 1.25rem;
  align-items: center;
}
.header-nav__brand--logo {
  display: inline-block;
  margin: 0;
  vertical-align: text-bottom;
}
.header-nav__brand--title--link {
  display: inline-block;
  font-size: 3.75rem;
  color: #393939;
  text-decoration: none;
  font-weight: lighter;
}
.header-nav__list, .header-nav li {
  display: inline-block;
}
.header-nav__list--item, .header-nav__list--item--shoplink {
  text-decoration: none;
  color: #393939;
  font-size: 1.3125rem;
  font-weight: light;
  padding: 1.25rem;
  margin: 1.25rem;
}
.header-nav__list--item--shoplink {
  color: #5BACC3;
}

.hero {
  background-color: #FFF0ED;
  display: flex;
  justify-content: space-between;
}
.hero__text {
  font-size: 3.75rem;
  font-weight: 300;
  margin-bottom: 0;
  color: #393939;
}
.hero__content {
  padding: 100px;
  margin: 40px;
}
.hero__description {
  font-size: 1.125rem;
  font-weight: 400;
  color: #393939;
  margin-bottom: 40px;
}
.hero__link, .product__viewall {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #5BACC3;
  width: 11.25rem;
  margin-top: 1.25rem;
  padding: 1.25rem;
  color: white;
  font-size: 1.3125rem;
  font-weight: 400;
  text-align: center;
}
.hero__image {
  margin-right: 15rem;
}

.product {
  background-color: #F7F7F7;
  padding-bottom: 2rem;
}
.product__title {
  text-align: center;
  padding: 3.125rem;
  margin: 0;
  font-weight: 300;
  font-size: 3.75rem;
  color: #393939;
}
.product__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product__card-cb, .product__card-ihb, .product__card-cld {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 20.625rem;
  height: 27.5rem;
  border-radius: 0.625rem;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0.3125rem 0.5625rem rgba(0, 0, 0, 0.25);
}
.product__card-cb--image, .product__card-ihb--image, .product__card-cld--image {
  padding: 1.25rem 1.5rem 2rem 6.25rem;
}
.product__card-cb--content, .product__card-ihb--content, .product__card-cld--content {
  background-color: #FFF0ED;
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom-right-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
}
.product__card-cb--title, .product__card-ihb--title, .product__card-cld--title {
  color: #393939;
  font-weight: 300;
  font-size: 2.0625rem;
  margin: auto 0;
  align-content: center;
  padding-top: 2rem;
  padding-left: 1rem;
}
.product__card-cb--text, .product__card-ihb--text, .product__card-cld--text {
  color: #909090;
  font-size: 1.125rem;
  margin: 0;
  padding-left: 1rem;
}
.product__card-cb--price, .product__card-ihb--price, .product__card-cld--price {
  color: #5BACC3;
  padding: 0.5rem;
  margin: 0;
  font-size: 1.875rem;
  font-weight: bold;
}
.product__viewall {
  text-align: center;
  margin-top: 5rem;
  margin-left: 41rem;
  margin-bottom: 1rem;
}

.discounts {
  background-color: #393939;
  color: white;
  width: 70%;
  padding: 1.5rem;
  margin: 10rem 10rem 10rem 12rem;
  text-align: center;
  font-size: 2.8125rem;
  font-weight: 400;
}
.discounts--bold {
  font-size: 2.8125rem;
  font-weight: 700;
}

.footer {
  background-color: #FFF0ED;
  display: flex;
  justify-content: space-evenly;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.footer__address--title, .footer__social--title, .footer__hours--title {
  font-size: 2.0625rem;
  font-weight: 300;
  margin-bottom: 0;
}
.footer__address--add {
  font-size: 1.125rem;
  font-weight: 400;
}

.footer__hours--details1 {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0;
}
.footer__hours--details2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
}
.footer__hours--bold {
  font-size: 1.125rem;
  font-weight: 400;
  font-weight: bold;
}

.footer__social--icon {
  width: 3.125rem;
}/*# sourceMappingURL=landing.css.map */