@use "./partials/global" as *;

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-nav {
    background-color: #FFF0ED;
    display:flex;
    justify-content: space-between;
    padding-left: 1.25rem;
    align-items: center;

    &__brand--logo{
        display:inline-block;
        margin:0;
        vertical-align: text-bottom;
    }

    &__brand--title--link{
        display:inline-block;
        font-size: 3.75rem;
        color: #393939;
        text-decoration: none;
        font-weight: lighter;

    }

    &__list, li{
        display: inline-block;
    }

    &__list--item{
text-decoration: none;
color:#393939;
font-size: 1.3125rem;
            font-weight: light;
            padding:1.25rem;
            margin:1.25rem;

    }

    &__list--item--shoplink{
@extend .header-nav__list--item;
color:#5BACC3;
    }
}

.hero{
    background-color: #FFF0ED;
    display:flex;
    justify-content: space-between;
    padding-bottom:3rem;

    &__text{
        font-size: 3.75rem;
        font-weight: 300;
        margin-bottom: 0;
        color: #393939;
    }

    &__content{
        padding:0.9375rem 1.25rem;
        margin:5.625rem 5.625rem 0 5.625rem;

    }

    &__description{
        font-size: 1.125rem;
        font-weight: 400;
        color:#393939;
        margin-bottom:40px;
    }

    &__link{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: #5BACC3;
        width:11.25rem;
        margin-top:1.25rem;
        padding:1.25rem;
        color:white;
        font-size: 1.3125rem;
        font-weight: 400;
        text-align:center;
    }

    &__image{
        margin-right:15rem;
    }
}


.product{
    background-color:  #F7F7F7 ;
    padding-bottom:2rem;
    padding-left:8rem;
    padding-right:8rem;
    
    &__title{
        text-align: center;
        padding:3.125rem;
        margin:0;
        font-weight: 300;
        font-size: 3.75rem;
        color:#393939;

    }


    &__card{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        gap:2rem;

    }

    
    &__card-cb{
        display: flex;
        justify-content: space-between;
        flex-direction:column;
        align-items:center;
        background-color:white;
        width:20.625rem;
        height:27.5rem;
       border-radius: .625rem;
       flex-direction:column;
       align-items: center;
        box-shadow: 0 0.3125rem 0.5625rem rgba(0, 0, 0, 0.25); 

&--image{
    padding:1.25rem 1.5rem 2rem 1.25rem;
}


&--content{
    background-color: #FFF0ED;
   width:100%;
    height:8rem;
    padding-bottom:1rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content:space-between;
    align-items: flex-start;
    border-bottom-right-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    flex-wrap: wrap;
}
    &--title{
        color:#393939;
        font-weight: 300;
        font-size:2.0625rem;
        margin-bottom:0;
        align-content: center;
        padding-top:0rem;
        padding-left:1rem;
    }

    &--text{
        color: #909090;
        font-size: 1.125rem;
        margin:0;
        padding-left:1rem;
    }

    &--price{
        color: #5BACC3;
        padding:0.5rem 0.5rem 0 0.5rem;
        margin:0;
        font-size: 1.875rem;
        font-weight: bold;
        align-items: center;
    }

}


    &__card-cld{
        @extend .product__card-cb;

    &--image{
        @extend .product__card-cb--image;
    }
    
    &--content{
        @extend .product__card-cb--content;
    }
        &--title{
           @extend .product__card-cb--title;
        }
    
        &--text{
            @extend .product__card-cb--text;
        }
    
        &--price{
           @extend .product__card-cb--price;
        }
    
    }
    &__card-ihb{
        @extend .product__card-cb;
        
        &--image{
            @extend .product__card-cb--image;
        }
        
        &--content{
            @extend .product__card-cb--content;
        }
            &--title{
               @extend .product__card-cb--title;
            }
        
            &--text{
                @extend .product__card-cb--text;
            }
        
            &--price{
               @extend .product__card-cb--price;
            }
        
    }

    &__viewall{
        @extend .hero__link;
       text-align:center;
       margin-top: 5rem;
       margin-left:65rem;
       margin-bottom: 1rem;
    }

}

.diff{
   // margin:0;
    //padding:6rem 7rem;
   // width:100%;

    &__body{
        padding:6.25rem 7.5rem;
        display:flex;
        justify-content:space-between;
        //gap:10rem;
        flex-wrap:wrap;

    }

    &__content{
       width:30rem;
    
        &--title{
            color:#393939;
            font-size:3.75rem;
            font-weight: 300;
            margin:3.125rem 0;
        }
    }

    &__body--logo{
        display:flex;
        justify-content: space-between;
        gap:2rem;

        &-icon{
            width:3.125rem;
        }
    }  
    &__body--link{
        @extend .hero__link;
    }  
    
    &__image{
        background-image: url("../assets/images/coldbrewbackground.png");
        width:25rem;
        height:25rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding:1.25rem;
        margin:1.25rem;

        &--can{
            height:18rem;
        }
    }


}

.diff__discounts{
    background-color: #393939;
    color: white;
    width:70%;
    padding:1.5rem;
    margin:10rem 10rem 10rem 12rem;
    text-align: center;
    font-size: 2.8125rem;
    font-weight: 400;

    &--bold{
    font-size: 2.8125rem;
    font-weight:700;
    }
}


.footer{
    background-color: #FFF0ED;
    display:flex;
    justify-content: space-evenly;
    padding-top:3.125rem;
    padding-bottom:3.125rem;

    &__address--title{
        font-size:2.0625rem;
        font-weight:300;
        margin-bottom:0;
    }

    &__address--add{
        font-size: 1.125rem;
        font-weight: 400;

    }
    

}

.footer__hours{
    &--title{
        @extend .footer__address--title;
    }
    &--details1{
        font-size: 1.125rem;
        font-weight: 400;
        margin-bottom:0;
    
    }
    &--details2{
        font-size: 1.125rem;
        font-weight: 400;
        margin:0;
        
    }

    &--bold{
        font-size: 1.125rem;
        font-weight: 400;
        font-weight: bold;
    }
}

.footer__social{
    &--title{
        @extend .footer__address--title;
    }
    &--icon{
        width:3.125rem;
    }
}
