$font-family: 'Open Sans';
$nitro-pink:#FFF0ED;
$nitro-blue:#5BACC3;
$graphite:#393939;
$lightGray:#F7F7F7;
$gray:#909090;
$white:#FFF;
$h1h2-fontsize:3.75rem;
$padding-general:1.25rem;
$margin-general:1.25rem;
$fontsizeReg:1.3125rem;
$h3-fontsize:2.0625rem;
